In [12]:
class school:
    scl_name = "VIKAS"
    scl_address = "HYD"
    total_marks = 300

In [13]:
stu_1 = school()
stu_1.name = "raja"
stu_1.roll = "201308"
stu_1.m1 = 90
stu_1.m2 = 65
stu_1.m3 = 87
stu_1.marks = stu_1.m1+stu_1.m2+stu_1.m3

print((stu_1.marks/stu_1.total_marks)*100)

80.66666666666666